[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
torchvision = "*"
keras = "*"
tensorflow = "*"
click = "*"
pygame = "*"
pillow = "*"
carla = "*"

[requires]
python_version = "3.8"
